body {
    width: 200px;
    padding-bottom: 20px;
    font-family: Arial, sans-serif;
    text-align: center;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
}
button:hover {
    background-color: #45a049;
}
